@tailwind base;
@tailwind components;
@tailwind utilities;

.backdrop-blur-md {
  backdrop-filter: blur(10px); /* Adjust the blur value as needed */
  background-color: rgba(255, 255, 255, 0.1); /* Adjust the opacity as needed */
  border-radius: 8px; /* Tambahkan border-radius sesuai kebutuhan Anda */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan jika diperlukan */
}
th {
  white-space: nowrap;
}

td {
  white-space: nowrap; /* Menghindari pemutusan kata di dalam sel */
  overflow: hidden; /* Menghindari tampilan horizontal scroll */
  text-overflow: ellipsis; /* Menggantikan teks yang terpotong dengan elipsis (titik-titik) */
  word-wrap: break-word; /* Memungkinkan pemutusan kata saat teks terlalu panjang */
}
@media print {
  @page {
    margin: 0.5cm; /* Sesuaikan margin sesuai kebutuhan Anda */
  }
  section {
    /* page-break-before: auto; */
    page-break-before: calc(2);
    page-break-after: auto;
    margin-bottom: 0.3cm;
  }
}

.active {
  @apply bg-white text-slate-800;
}

.modal-component {
  @apply fixed inset-0 bg-slate-400 h-screen w-full bg-opacity-25 backdrop-blur-sm flex justify-center items-center;
}

label {
  @apply font-semibold;
}

input {
  @apply p-1 rounded-md  outline-none min-h-["400px"];
}

textarea {
  resize: none;
  @apply outline-none p-1 rounded-md;
}

input[type="radio"] {
  @apply border-2 border-slate-800 rounded-md p-2;
}

.button {
  @apply bg-slate-700 p-2 rounded-lg text-white hover:bg-slate-500 flex justify-center items-center gap-2;
}

.button_2 {
  @apply border-2 border-slate-700 bg-white rounded-md p-2 hover:bg-slate-500 hover:text-white flex justify-center items-center gap-2;
}
.button_delete {
  @apply bg-red-700 hover:bg-red-500 text-white w-8 h-8 flex justify-center items-center rounded-md  self-end;
}

.button_edit {
  @apply bg-blue-700 hover:bg-blue-500 text-white w-8 h-8 flex justify-center items-center rounded-md  self-end;
}

@media print {
  .no-print {
    display: none;
  }
  section {
    page-break-before: auto;
  }
}

.dropdown-print {
  position: absolute;
  top: 12rem;
  z-index: 900px;
  right: 1.5rem;
  padding: 15px;
  width: 120px;
  border-radius: 8px;
  background: white;
  border: 1px solid grey;
}

.dropdown-print::before {
  content: "";
  position: absolute;
  top: -0.9rem;
  height: 25px;
  width: 25px;
  background: white;
  transform: rotate(45deg);
  right: 1rem;
  border-left: 1px solid grey;
  border-top: 1px solid grey;
}
