.pembatas {
  margin-top: 60px;
}

@media screen and (max-width: 468px) {
  .pembatas {
    margin-top: 440px;
  }
}

@media screen and (max-width: 768px) {
  .pembatas {
    margin-top: 200px;
  }
}
